@model Web.Data.ViewModels.Outgoing.OutgoingChangePasswordResponse

@{
    ViewBag.Title = "Cambiar Clave";
    Layout = "_SettingsLayout";
}

<div id="profile-wrapper">
    <div class="container">
        <div class="row">
            <div class="profile-column col-10 profile-height-fix">
                <div class="row">
                    <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-12 settings-container pt-2 pb-4">
                        @if (TempData["Message"] != null)
                        {
                            <div id="toasty" class="toast align-items-center text-white @TempData["CssClass"] border-0 fade show w-100 mb-4" role="alert" aria-live="assertive" aria-atomic="true">
                                <div class="d-flex">
                                    <div class="toast-body fw-bold">@TempData["Message"]</div>
                                    <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                                </div>
                            </div>
                        }
                        <form  asp-controller="Settings" asp-action="ChangePassword" class="row">
                            <div class="form-group col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 offset-xxl-3 offset-xl-3 offset-lg-3 offset-md-0 offset-sm-0 offset-0">
                                <label asp-for="CurrentPassword">Contraseña Actual</label>
                                <input type="password" class="form-control" asp-for="CurrentPassword" placeholder="*********">
                            </div>
                            <div class="form-group col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 offset-xxl-3 offset-xl-3 offset-lg-3 offset-md-0 offset-sm-0 offset-0">
                                <label asp-for="NewPassword">Nueva Contraseña</label>
                                <input type="password" class="form-control" asp-for="NewPassword" placeholder="*********">
                            </div>
                            <div class="form-group col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 offset-xxl-3 offset-xl-3 offset-lg-3 offset-md-0 offset-sm-0 offset-0">
                                <label asp-for="NewPasswordValidation">Repetir Nueva Contraseña</label>
                                <input type="password" class="form-control mb-2" asp-for="NewPasswordValidation" placeholder="*********">
                            </div>
                            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-6 offset-xxl-4 offset-xl-4 offset-lg-4 offset-3 offset-md-3 offset-sm-3">
                                <div class="d-grid mt-3">
                                    <button type="submit" class="btn btn-clear onboarding-subscribed btn-lg">Guardar Cambios</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-4 d-none"></div>
                </div>
            </div>
        </div>
    </div>
</div>

@section CustomScripts {
    @if (TempData["Message"] != null)
    {
    <script>
        let toasty = new bootstrap.Toast(document.getElementById("toasty"), {});
        
        function toggleToast(){
            toasty.hide();
        }
    </script>
    }
}