@model Web.Data.ViewModels.Outgoing.OutgoingRegistrationData

@{
    Layout = "_BaseLayout";
}
<br>
@if (TempData["ErrorMessage"] != null)
{
    <div class="container">
        <div class="row">
            <div class="col-xxl-10 col-xl-10 col-lg-10 col-md-12 col-sm-12 offset-xxl-1 offset-xl-1 offset-lg-1 @TempData["ErrorClass"] alert alert-dismissible fade show" role="alert">
                <strong>@(TempData[$"ErrorClass"].ToString().ToLower().Contains("success") ? "Exito! " : "Error! ")</strong> @TempData["ErrorMessage"].
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
    </div>
}
<div id="register-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-xxl-10 col-xl-10 col-lg-10 col-md-12 col-sm-12 offset-xxl-1 offset-xl-1 offset-lg-1 register-fix" id="register-card">
                <div class="row">
                    <div class="col-xxl-8 col-xl-8 col-lg-7 p-5">
                        <h3><strong>Unete a PixelCity!</strong></h3>
                        <p class="text-secondary">Por favor, toma un momento para ser parte de la familia!</p>
                        <form asp-controller="Home" asp-action="RegisterProcessor" method="post">
                            <div class="form-group">
                                <label asp-for="UserName">Usuario</label>
                                <input type="text" class="form-control" asp-for="UserName" placeholder="Enter email">
                            </div>
                            <div class="form-group">
                                <label asp-for="Email">Correo</label>
                                <input type="email" class="form-control" asp-for="Email" placeholder="Enter email">
                            </div>
                            <div class="form-group">
                                <label asp-for="Password">Contraseña</label>
                                <input type="password" class="form-control" asp-for="Password" placeholder="***********************">
                            </div>
                            <div class="d-grid">
                                <button type="submit" class="btn btn-success">Registrarme!</button>
                                <p class="text-divider d-block d-lg-none"><span>¿Ya tienes una cuenta?</span></p>
                                <a asp-controller="Home" asp-action="Login" class="btn btn-success d-block d-lg-none" >Identificarme!</a>
                            </div>
                        </form>
                    </div>
                    <div class="col-xxl-4 col-xl-4 col-lg-5 d-none d-lg-block">
                        <img src="/img/bgreg.png" alt="">
                        <p class="text-divider"><span>¿Ya tienes una cuenta?</span></p>
                        <div class="d-grid">
                            <a class="btn btn-success" asp-controller="Home" asp-action="Login">Identificarme</a>
                        </div>
                        <p class="text-divider"><span>Regístrate ahora para:</span></p>
                        <ul>
                            <li>Crear y compartir contenido.</li>
                            <li>Hacer nuevos amigos.</li>
                            <li>Compartir experiencias nuevas.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>