/*********************************************
CONTENTS

1. Shared Styles
2. Menu
3. Footer
4. Login & Register 
***********************************************/

/**********************************************
1. Shared Styles
***********************************************/

@font-face {
    font-family: WorldOne;
    src: url("/fonts/World-One.otf") format("opentype");
}

@font-face {
    font-family: "TexHeros";
    src: url("/fonts/text-regular.otf") format("opentype");
    font-weight: 400;
}

@font-face {
    font-family: "TexHeros";
    src: url("/fonts/text-bold.otf") format("opentype");
    font-weight: 600;
}

@font-face {
    font-family: "TexHeros";
    src: url("/fonts/text-italic.otf") format("opentype");
    font-style: italic;
}


body {
    background: #f0eeee;
    font-family: "TexHeros";
}

.text-divider{
    margin: 2em 0; line-height: 0; text-align: center;
}

.text-divider span{
    background-color: #f0eeee; padding: .5em;
}
.text-divider:before{
    content: " "; display: block; border-top: 1px solid #f0eeee; border-bottom: 1px solid #c1c1c1;
}


/**********************************************
2. Menu
***********************************************/

#upper-menu {
    background: url("/img/header.jpeg");
    height: 81px;
}


#upper-menu  > .container > nav > div > a {
    color: white;
    text-decoration: none;
}

#upper-menu  > .container > nav > div:first-child > a {
    background: linear-gradient(
            178deg
            , white 0%, #efefef 50%, #d7d9da 50%, #bfbfbf 100%);
    color: transparent;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 46px;
    text-transform: uppercase;
    font-family: "WorldOne";
}

#upper-menu  > .container > nav > div:last-child,
#upper-menu  > .container > nav > div:nth-child(2){
    padding-top: 23px;
    font-family: "TexHeros", sans-serif;
}

#upper-menu  > .container > nav > div:nth-child(2) > a {
    font-weight: 600;
    font-size: 14px;
    
}


#upper-menu  > .container > nav > div:last-child {
    text-align: right;
}

#upper-menu  > .container > nav > div:last-child > a {
    background: linear-gradient(180deg, #b4de23, #92c015);
    border-radius: 100px;
    padding: 7px 20px;
    text-transform: uppercase;
    font-weight: 600;
    border: 5px solid #14466acf;
    font-family: "TexHeros", sans-serif;
    font-size: 12px;
    letter-spacing: 1px;
}

#lower-menu {
    background: #004160;
    height: 40px;
}

.menu-searchbox-fix {
    padding-top: 15px !important;
}

.menu-searchbox-fix button {
    background: linear-gradient(180deg, #b4de23, #92c015);
    border-radius: 0 6px 6px 0;
    border-right: 1px solid #0202029e;
    border-bottom: 1px solid #0202029e;
    border-top: 1px solid #0202029e;
    border-left: 1px solid transparent;
}

.menu-searchbox-fix input {
    height: 36px;
    margin-top: 1px;
    font-size: 14px;
    letter-spacing: 0.6px;
}

.user-menu-fix {
    padding-top: 15.5px !important;
}

.user-menu-fix ul li a,
.user-menu-fix ul li a:hover {
    background: linear-gradient(180deg, #2f769a, #005282, #004160);
    border-bottom: 1px solid #134568;
    border-left: 1px solid #164b6f;
    border-right: 1px solid #164b6f;
    border-top: 1px solid #417b9e;
    color: white;
    box-shadow: 0px 0px 0px 1px #103956;
    z-index: unset;
    font-size: 14px;
}

.user-menu-fix ul li:nth-child(2) a,
.user-menu-fix ul li:first-child a {
    border-right: none
}

.user-menu-fix ul li:nth-child(2) a,
.user-menu-fix ul li:last-child a {
    border-left: none;
}

.user-menu-fix ul li:last-child a {
    font-weight: 400;
    letter-spacing: 1px;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767px) {

    #upper-menu  > .container {
        max-width: 100%;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    #upper-menu  > .container > nav > div:last-child > a {
        padding: 7px 15px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { }

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { }

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { }


/**********************************************
4. Login and Register
***********************************************/

#register-card {
    margin-top: 40px;
    background: white;
    border: 10px solid transparent;
    border-image: 10 repeating-linear-gradient(-45deg, #f66a76 0, #f66a76 1em, transparent 0, transparent 2em, #46b3f2 0, #46b3f2 3em, transparent 0, transparent 4em);
}

#register-card p, #register-card h3 {
    letter-spacing: 0.6px;
}

#register-card > .row > div:last-child {
    text-align: center;
    background: #f0eeee;
    height: 530px;
    border-radius: 0 4px 4px 0;
    padding-top: 20px;
    border-left: 1px solid #c1c1c1;
}

#register-card .text-divider {
    color: #909090;
    font-style: italic;
}

#register-card .btn-success  {
    background: linear-gradient(180deg, #88e64f 0%, #5ed037 100%);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#88e64f), to(#5ed037));
    border-top: 1px solid #6caf40;
    border-left: 1px solid #53a32e;
    border-right: 1px solid #53a32e;
    border-bottom: 1px solid #3e9a20;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    box-shadow: inset 0 1px 0 0 #a3eb72, 0 1px 2px 0 #b3b3b3;
    letter-spacing: 2px;
}

#register-card .btn-success:hover {
    background: linear-gradient(180deg, #78da40 0%, #45b31d 100%);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#78da40), to(#45b31d));
}

#register-card ul {
    text-align: left;
}

#register-card ul li {
    margin-top: 9px;
}

#register-card ul li::marker {
    color: #006595;
}

#register-card ul li a {
    text-decoration: none;
    font-size: 14px;
    color: #006595;
    font-weight: 600;
    letter-spacing: 0.6px;
}


#register-card ul li a:hover {
    text-decoration: underline;
    color: #067cb4;
}


#register-card > div > div:first-child {
    padding-top: 4.5rem !important;
}
#register-card > div > div > form > div {
    margin-bottom: 25px;
}

#register-card > div > div > form > div > label {
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.6px;
}

#register-card > div > div > form {
    margin-top: 2.5rem;
}

#register-card > div > div > form > div > input {
    padding: 10px 10px;
}

#register-card > div > div > form > div > button {
    margin-top: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.register-fix {
    height: unset !important;
}

.register-fix > div > div:last-child {
    height: 620px !important;;
}
.register-fix ul li,
.register-fix ul li::marker {
    color: #909090 !important;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.6px;
}

#register-card > .row > div:first-child > form > .d-grid > .text-divider span {
    background: white !important;
}

#register-card > .row > div:first-child > form > .d-grid a {
    padding-top: 10px;
    padding-bottom: 10px;
}

.custom-register-alert-warning {
    border: 2px dashed #fac851!important;
    margin-bottom: -10px;
}

.custom-register-alert-success {
    border: 2px dashed #5cfa51 !important;
    margin-bottom: -10px;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767px) {
    #register-wrapper > .container {
        max-width: 95%;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .register-fix > div > div.p-5 {
        padding-bottom: 3rem !important;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    #register-card > div > div:first-child {
        padding-bottom: 0 !important;
    }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { }

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { }
