<!DOCTYPE html>
<html>
<head>
    <title>PixelCity - @ViewData["Title"]</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
</head>
<body>
<div id="upper-menu">
    <div class="container">
        <nav class="row">
            <div class="col-7 offset-1">
                <a href="#">PixelCity</a>
            </div>
            <div class="col-1">
                <a href="#">Identificarme</a>
            </div>
            <div class="col-2">
                <a href="#">Registrate ya!</a>
            </div>
        </nav>
    </div>
</div>
<div id="lower-menu">
    <div class="container">
        b
    </div>
</div>
@RenderBody()
<script src="js/bootstrap.bundle.js"></script>
</body>
</html>