<!DOCTYPE html>
<html>
<head>
    <title>PixelCity - @ViewData["Title"]</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
</head>
<body>
<div id="upper-menu">
    <div class="container">
        <nav class="row">
            <div class="col-xxl-7 col-xl-7 col-lg-6 col-md-7 col-sm-6 col-6 offset-xxl-1 offset-xl-1 offset-lg-1">
                <a asp-controller="Home" asp-action="Index">PixelCity</a>
            </div>
            @if (Context.Request.Path.ToString().ToLower().Contains("login") ||
                 Context.Request.Path.ToString().ToLower().Contains("register"))
            {
                <div class="col-xxl-1 col-xl-1 col-lg-1 col-md-2 col-sm-2 d-none">
                </div>
                <div class="col-xxl-2 col-xl-2 col-lg-3 col-md-3 col-sm-4 col-6 d-none">
                </div> 
            }
            else
            {
                <div class="col-xxl-1 col-xl-1 col-lg-1 col-md-2 col-sm-2 d-none d-sm-block">
                    <a asp-controller="Home" asp-action="Login">Identificarme</a>
                </div>
                <div class="col-xxl-2 col-xl-2 col-lg-3 col-md-3 col-sm-4 col-6">
                    <a asp-controller="Home" asp-action="Register" >Registrate ya!</a>
                </div>   
            }
        </nav>
    </div>
</div>
<div id="lower-menu">
    <div class="container">
        a
    </div>
</div>
@RenderBody()
<script src="js/bootstrap.bundle.js"></script>
</body>
</html>

