@model Web.Data.ViewModels.Outgoing.OutgoingUserData

@{
    Layout = "_BaseLayout";
}
<br>
@if (TempData["ErrorMessage"] != null)
{
    <div class="container">
        <div class="row">
            <div class="col-xxl-8 col-xl-10 col-lg-10 col-md-12 col-sm-12 offset-xxl-2 offset-xl-1 offset-lg-1 @TempData["ErrorClass"] alert alert-dismissible fade show" role="alert">
                <strong>@(TempData[$"ErrorClass"].ToString().ToLower().Contains("success") ? "Exito! " : "Error! ")</strong> @TempData["ErrorMessage"].
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
    </div>
}
<div id="register-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-xxl-8 col-xl-10 col-lg-10 offset-xxl-2 offset-xl-1 offset-lg-1" id="register-card">
                <div class="row">
                    <div class="col-xxl-8 col-xl-8 col-lg-7 p-5">
                        <h3><strong>Identificarme en PixelCity!</strong></h3>
                        <p class="text-secondary">Te damos de nuevo la bienvenida a la familia de PixelCity!</p>
                        <form method="post">
                            <div class="form-group">
                                <label for="username">Nombre de usuario</label>
                                <input type="text" class="form-control" asp-for="UserName" placeholder="lexotanil_">
                            </div>
                            <div class="form-group">
                                <label for="password">Contraseña</label>
                                <input type="password" class="form-control" asp-for="Password" placeholder="***********************">
                            </div>
                            <div class="d-grid">
                                <button type="submit" class="btn btn-success">Iniciar Sesion</button>
                                <p class="text-divider d-block d-lg-none"><span>¿Ya tienes una cuenta?</span></p>
                                <a asp-controller="Authentication" asp-action="Register" class="btn btn-success d-block d-lg-none" >Registrarme</a>
                            </div>
                        </form>
                    </div>
                    <div class="col-xxl-4 col-xl-4 col-lg-5 d-none d-lg-block">
                        <img src="/img/bgreg.png" alt="">
                        <p class="text-divider"><span>¿No tienes cuenta?</span></p>
                        <div class="d-grid">
                            <a class="btn btn-success" asp-controller="Authentication" asp-action="Register">Registrarme</a>
                        </div>
                        <p class="text-divider"><span>¿Tienes Problemas?</span></p>
                        <ul>
                            <li><a href="#">Olvidé mi contraseña</a></li>
                            <li><a href="#">Olvidé mi nombre de usuario</a></li>
                            <li><a href="#">Reenviar correo de confirmación</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>