@model Web.Data.ViewModels.Outgoing.OutgoingPasswordRecoveryRequest

@{
    Layout = "_BaseLayout";
}
<br>
@if (TempData["ErrorMessage"] != null)
{
    <div class="container">
        <div class="row">
            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 offset-xxl-3 offset-xl-3 offset-lg-3 @TempData["ErrorClass"] alert alert-dismissible fade show" role="alert">
                <strong>@(TempData[$"ErrorClass"].ToString().ToLower().Contains("success") ? "Exito! " : "Error! ")</strong> @TempData["ErrorMessage"].
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
    </div>
}
<div id="register-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-xxl-6 col-xl-6 col-lg-6 offset-xxl-3 offset-xl-3 offset-lg-3" id="register-card">
                <div class="row">
                    <div class="col-xxl-12 col-xl-12 col-lg-12 col-12 p-5" id="recovery-fix">
                        <h3><strong>Restablece tu contraseña!</strong></h3>
                        <p class="text-secondary">Un error lo comete cualquier troesma!</p>
                        <form method="post">
                            <div class="form-group">
                                <label asp-for="Username">Usuario</label>
                                <input type="text" class="form-control" asp-for="Username" placeholder="lexotanil_">
                            </div>
                            <div class="d-grid">
                                <button type="submit" class="btn btn-success">Restablecer contraseña</button>
                                <p class="text-divider"><span>¿Te acordaste de tu clave?</span></p>
                                <a asp-controller="Authentication" asp-action="Login" class="btn btn-success" >Identificarme</a>
                            </div>
                        </form>
                    </div>
                    <div class="col-12 d-none"></div>
                </div>
            </div>
        </div>
    </div>
</div>